* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.s1 {
    background-color: #1F2937;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav, .content-s1 {
    width: 65%;
}

.nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3, h1 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.content-s1{
    height: auto;
    margin: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.written-content {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    align-items: flex-start;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 50px;
}

.para, li, button {
    font-size: 18px;
    color: #e5e7eb;
}

button{
    border-radius: 10px;
    padding: 8px 32px;
    background-color: #3882F6;
    font-weight: bold;
    border: 0;
}

.product {
    max-width: 600px;
    height: auto;
    margin-left: 40px;
}

.s2 {
    text-align: center;
}

h2 {
    height: 125px;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squares {
    height: 225px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 175px;
    gap: 5px;
}

.square {
    border: 3px solid #3882F6;
    border-radius: 15px;
    height: 175px;
    width: 175px;
    flex-grow: 0;
}

.s3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.content-s3 {
    width: 55%;
    margin: 125px auto;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.name {
    font-weight: bold;
    font-size: 22px;
    color: #1F2937;
    align-self: flex-end;
}